// Override default variables
$primary: #00897b;
$min-contrast-ratio: 3;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


.preview-area {
    background-color: transparent;
    border: 2px solid $secondary;
    border-radius: 5px;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.cap-height-300 {
    max-height: 300px;
}

.hcw-hero {
    background-image: url("/resources/img/background-converted.jpg");
    background-size: cover;
    transform: scale3d(1, 1, 1);
    transform-style: preserve-3d;
    transition: all 0.5s;
    background-position: center 100%; // Relevant for the canyon photo

    &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 0;
    }

    & > * {
        position: relative;
        z-index: 1;
    }
}


.form-control[type="file"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}